
body{
    background-color: #020e1d;
    height: 100%; /*takes up full screen */
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media Query for screens smaller than 600px (typical phones) */
@media only screen and (max-width: 600px) {
    .content {
        display: none; /* Hide the main content on small screens */
    }

    body::before {
        content: "Site under development for mobile. Please visit on desktop!";
        display: block;
        text-align: center;
        padding: 20px;
        background-color: #ff9999;
        color: #333;
        font-size: 18px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

h1 {
    text-align: center;
    color : #bbd1ea;
    font-family:Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
    color : #bbd1ea;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-container2 {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 100%;
}

.image-container2:hover .overlay {
    opacity: 1;
}

p {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    color : #bbd1ea;
    font-size: large;
}

.image-cropper {
    /* height: 200px;
    width: 200px; */
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
  }
  
img {
    display: inline;
    margin: 0 auto;
    /* transition: transform .2s; */
  }

/* img:hover{
    transform: scale(1.1);
} */

.standard-button {
    /* Add your standard button styles here */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}

.custom-button {
    background-color: #070606;
    color: #00FF00;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.2s;
    cursor:pointer;
}

.custom-button:hover{
    transform: translateY(-10px) scale(2);
    /* transform: image rises behind(of github logo etc); */
}

div {
    text-align: center;
}

.section-container {
    height: 120%;
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    margin-right: 15px; /* Adjust the value to set the desired space */
    margin-left: 15px;
}

.image-container figure {
    text-align: center;
    margin: 0px;
    transition: 0.2s;
    color: #bbd1ea;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-container figure:hover{
    transform: scale(1.45) translateY(-10px);
}

.contact-section {
    margin-top:auto ; /* Pushes the contact section to the bottom */
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
}

.pdf-section {
    /* margin-top: auto; */
    /* margin-bottom: -10px; */
    /* height: 50%; */
    /* /* /* text-align: center; */
    /* overflow-y: 50%; */
    /* padding: 20px;
    filter: drop-shadow(20px 20px 10px black); */
    /* padding-left: 100%;
    padding-right: 100%; */
    padding-top: 20px;
    padding-bottom: 20px;
}

.large-br {
    margin-top: 20%;
}

.med-br {
    margin-top: 10%;
}

.small-br {
    margin-top: 5%
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
    padding-top: 20px;
}

/* Style for individual photo container */
.photo-container {
    padding: 10px;
    text-align: center;
}

/* Style for images within the container */
.photo-container img {
    max-width: 100%;
    height: auto;
    transition: 0.2s;
}

.photo-container img:hover{
    opacity: 0.3;
}

.photo-container .image-text {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    opacity: 0;
    transition: 0.2s;
    color: #FFFF;
    text-align: center;
}

.photo-container:hover .image-text {
    opacity: 1;
}

#scrollButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 1px;
    padding: 10px;
    /* background-color: #007bff; */
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #scrollButton2 {
    display: none;
    position: fixed;
    bottom: 120px;
    right: 15px;
    padding: 10px;
    /* background-color: #007bff; */
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #scrollButton3 {
    display: none;
    position: fixed;
    bottom: 210px;
    right: 5px;
    padding: 10px;
    /* background-color: #007bff; */
    color: #fff;
    border: none;
    cursor: pointer;
  }


  #scrollButton4 {
    display: none;
    position: fixed;
    bottom: 320px;
    right: 5px;
    padding: 10px;
    /* background-color: #007bff; */
    color: #fff;
    border: none;
    cursor: pointer;
  }


  #scrollButton5 {
    display: none;
    position: fixed;
    bottom: 500px;
    right: 5px;
    padding: 10px;
    /* background-color: #007bff; */
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #proj-section {
    display: flex;
    align-items: left;    
    margin: 20px;
  }
  
  #project-info {
    flex: 1;
    /* padding: 20px; */
    margin-right: 20px;
    /* box-sizing: border-box;
    text-align: left;
    background-color: #00FF00; */
  }
  
  #image-container-proj {
    flex: 1;
  }
  
  #current-image-proj {
    max-width: 100%
  }
  
  #projbutton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
  }
  
  #prev-btn-proj {
    left: 10px;
  }
  
  #next-btn-proj {
    right: 10px;
  }
