
body{
    background-color: #020e1d;
    height: 100vh; /* takes up full screen */
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color : #bbd1ea;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: center;
    color : #bbd1ea;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    text-align: center;
    color : #bbd1ea;
}

.image-cropper {
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
  }
  
img {
    display: inline;
    margin: 0 auto;
    /* transition: transform .2s; */
  }

/* img:hover{
    transform: scale(1.1);
} */

.standard-button {
    /* Add your standard button styles here */
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}

.custom-button {
    background-color: #070606;
    color: #00FF00;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.2s;
    cursor:pointer;
}

.custom-button:hover{
    transform: translateY(-10px) scale(2);
    /* transform: image rises behind(of github logo etc); */
}

div {
    text-align: center;
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    margin-right: 15px; /* Adjust the value to set the desired space */
    margin-left: 15px;
}

.image-container figure {
    text-align: center;
    margin: 0px;
    transition: 0.2s;
    color: #bbd1ea;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-container figure:hover{
    transform: scale(1.45) translateY(-10px);
}

.contact-section {
    margin-top:auto ; /* Pushes the contact section to the bottom */
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
}

.pdf-section {
    /* margin-top: auto; */
    /* margin-bottom: -10px; */
    /* height: 50%; */
    /* /* /* text-align: center; */
    /* overflow-y: 50%; */
    padding: 20px;
}

.large-br {
    height: 50%;
}

.med-br {
    margin-top: 10%;
}

.small-br {
    margin-top: 5%
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 10px;
}

/* Style for individual photo container */
.photo-container {
    padding: 10px;
    text-align: center;
}

/* Style for images within the container */
.photo-container img {
    max-width: 100%;
    height: auto;
    transition: 0.2s;
}

.photo-container img:hover{
    transform: scale(1.2) translateY(-10px);
}


