
body{
    background-color: #020e1d;
    height: 95vh; 
    /* border: 1px solid wheat; */
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media Query for screens smaller than 600px (typical phones) */
@media only screen and (max-width: 600px) {

    body::before {
        content: "Site under development for mobile. Please visit on desktop!";
        display: block;
        text-align: center;
        padding: 20px;
        background-color: #ff9999;
        color: #333;
        font-size: 18px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    body{
        background-color: #020e1d;
        height: 100%; 
        border: 1px solid wheat;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }

    .content {
        margin: 50px auto;
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
}

/* #bbd1ea */

h1 {
    text-align: center;
    color : #020e1d;
    font-family:monospace
    /* Arial, Helvetica, sans-serif; */
}

h2 {
    text-align: center;
    color : #020e1d;
    font-family:monospace;
}

.app {
    flex:1;
    /* background: url('img/blackboard.png');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center; */
    background: none;
    height: 70vh;
    max-width: 800px;
    width: 100%;
    margin: 100px auto;
    padding: 50px;
    border-radius: 10px;
    /* border : 2px solid white; */
}

.app h1 {
    text-align: center;
    color:wheat;
    font-family:monospace;
    font-weight: 600;
    border-bottom: 2px solid #020e1d;
    padding-bottom: 30px;
}

.app p {
    color: wheat;
    font-family:monospace;
    font-weight: 600;
    margin-bottom: 20px;
}

.quiz {
    /* display: flex; */
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border : 2px solid white;
}

.quiz h2 {
    color: #020e1d;
    font-family:monospace;
    font-weight: 600;
    margin-bottom: 20px;
}

.answerbtn {
    background-color: transparent;
    background-repeat: no-repeat;
    display: inline-block;
    /* margin: 20px auto; */
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #bbd1ea;
}

.answerbtn:hover:not([disabled]) {
    transform: translateY(-10px) scale(1.1);
}

.answers {
    /* display: flex; */
    height: 100%;   
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
}

.question-container {
    /* display:flex; */
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 0%;
}

#score-container {
    color: wheat;
}

.question-container img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#next {
    background: #020e1d;
    color: wheat;
    font-size: monospace;
    width: 150px;
    border:0;
    cursor: pointer;
    padding: 10px;
    margin: 20px auto 0;
    display: none;
}


.correct {
    background: greenyellow;
}

.wrong {
    background: red;  
}

.proffesor {
    flex-shrink: 0;
    text-align: right;
    margin: 0 auto;
    display: block;
    border: #bbd1ea;
    border-width: 1px;
    height: 20vh;
}

.content {
    display:flex;
    height: 80vh;
}
.proffessor img {
    vertical-align: top;
}

.spin {
    animation: spin 5s linear infinite; /* Adjust the duration and timing function as needed */
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

label {
    color: rgb(235, 105, 115);
    font-family:monospace;
    font-weight: 600;
}

.difficulty {
    color: rgb(235, 105, 115);
    font-family:monospace;
    font-weight: 600;
    text-align: center;
    align-items: center;
    width: 100%;
}

.headbanner {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #041223;
    width: 100%;
}
.headbanner figure {
    text-align: center;
    margin: 0px;
    color: #bbd1ea;
    font-family: monospace;
}

.custom-button {
    background-color: #070606;
    color: #bbd1ea;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    transition: 0.2s;
    cursor:pointer;
}

.custom-button:hover{
    transform: translateY(-10px) scale(1.15);
}